body{
	
	margin:0;
	padding:0;
	background-image:url("json.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	font-family: sans-serif;
}

div{
 background-color:lightgrey;
 width:300px;
 border: 15px solid green;
 padding: 50px;
 margin: 20px;
}